
/* Layout Stylesheet */ 

body{
 font-family: Verdana, Helvetica, Arial, sans-serif;
 margin: 0;
 padding:0;
 background: #808080;
 color: #333333;
 }
	 
@media screen {
 #hdr{
  height:35px;
  background:#c0c0c0;
  color:#000000;
  border:solid #000000;
  border-width:2px 0px;
  margin: 20px 0 0 0;
 }
}

@media print {
 #hdr{
  display: none;
 }
}

#rh-col{
 text-align: left;
 top: 5px;
 width: 93%;
 border: 2px solid #000000;
 background: #ffffff;
 color: #333333;
 padding: 20px;
 position: relative;
 }
