<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Wifi Network Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Robots" content="NOINDEX" />
<meta http-equiv="PRAGMA" content="NO-CACHE" /><!--
  Web Site: www.ssi-developer.net
  Comments: Copyright 2003 www.ssi-developer.net
  Licence:  Creative Commons - Non-commercial Share-Alike
-->
<link rel="stylesheet" type="text/css" href="/css/2c-hd-lc-static-layout.css" />
<link rel="stylesheet" type="text/css" href="/css/2c-hd-lc-static-presentation.css" />
</head>
<body>
<!-- Header -->
<div id="hdr">
<div style="font-weight:bold;font-size:12px;margin:6px 10px;">
<a href="index.cgi">Crea login</a>
| <a href="index.cgi?task=elist">Lista login</a>
</div>
</div>

<!-- right column -->
<div align="center">
<div id="rh-col">
<h3 align="center">[% sitename | html %]</h3>
<div align="center" style="color: red; font-weight:bold;">Rete WiFi<br />Dati di login / Login data</div>

<p style="height:5px"></p>

[% PROCESS "eview_c_${langistr}.tt" %]

</div>
</div>
<!-- end of right column -->

</body>
</html>
